body {
    -webkit-user-select: none;
    background-image: url("./assets/item-background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.itemcounterimage{
    height: 40px;
    width: 40px;
}

#closebreak {
    font-size: 20px;
}

hr{
    margin-left: 0px;
}

#maximize-btn,#minimize-btn,#close-btn,#move-btn{
    position: absolute;
    top: 0px;
    height: 14px;
    width: 14px;
    cursor: pointer;
}

#minimize-btn{
    right: 25px;
}

#maximize-btn{
    right: 45px;
}

#close-btn{
    right:6px;
}

#move-btn{
    right:350px;
    -webkit-app-region: drag;
    cursor: all-scroll;
}
table{
    padding: 0;
    margin: 0;
}
/* td {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
} */
table{
    border-spacing: 2px 0;
    /* border-collapse: collapse; */
}

.incrementbutton,.decrementbutton{
    cursor: pointer;
}

p{
    padding: 0;
}

div{
    /* display: inline-block; */
    float: left;
}

td {
    width: 40px;
}