body {
    -webkit-user-select: none;
    background-image: url("./assets/item-background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    align-self: left;
    overflow: hidden;
    align-content: center;
}

.itemcounterimage{
    height: 50px;
    width: 50px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

#closebreak {
    font-size: 30px;
}

hr{
    margin: 0px;
    margin-top: 4px;
    padding-left: 0px;
    width: 433px;
    background-color:  #E1C368;
    border-color:  #E1C368;
}

#minimize-btn,#close-btn,#move-btn{
    position: absolute;
    top: 0px;
    height: 19px;
    width: 19px;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

#minimize-btn{
    right: 30px;
    content: url("./assets/minus.png");
}

#close-btn{
    right:6px;
}

#move-btn{
    right:430px;
    -webkit-app-region: drag;
    cursor: all-scroll;
}
table{
    padding: 0;
    margin: 0;
    transform: translate(-1px, 0)
}
table#countertable{
    left: 50%;
    transform: translate(1px, 0);
    border-spacing: 2px 0;
}

.incrementbutton,.decrementbutton{
    cursor: pointer;
    height: 15px;
    widows: 15px;
}
.decrementbutton{
    padding-right: 4px;
    padding-left: 0;
    content: url("./assets/minus-button.png");
}

.incrementbutton{
    padding-left: 4px;
    padding-right: 0;
    content: url("./assets/add-button.png");
}

span{
    display: inline-block;
    color: white;
    font-size: 14pt;
    width: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Tw Cen MT";
}

td {
    text-align: center;
    width: 50px;
    margin: 0;
}

.itemtabledata{
    width: 40px;
    height: 40px;
}

td.itemtabledata{
    height: 45px;
    width: 45px;
    color: white;
    font-size: 16pt;
    text-align: center;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 45px 45px;
    padding: 0px;
    text-align: center;
}

table#itemtable{
    position: relative;
    border-spacing: 0px 0px;
    left: 50%;
    transform: translate(-52%,0);
    /* border-collapse: collapse; */
}

div#craftingdiv{
    height: 120px;
    width: 400px;
    background-image: url('./assets/crafteditem-background.png');
    background-size: 400px 120px;
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
    top: 22px;
    left: 17px;
}

table#craftedtable{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border-spacing: 7px;
}

.crafted{
    height: 40px;
    width: 40px;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding: 0px;
    text-align: center;
}

#crafted0,#crafted1{
    height: 40px;
    width: 40px;
    padding: 0px;
}