body {
    -webkit-user-select: none;
    background-image: url("./assets/item-background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    align-self: left;
    overflow: hidden;
    align-content: center;
}

.itemcounterimage{
    height: 50px;
    width: 50px;
}

#closebreak {
    font-size: 30px;
}

hr{
    margin: 0px;
    margin-top: 4px;
    padding-left: 0px;
    width: 433px;
    background-color:  #E1C368;
    border-color:  #E1C368;
}

#maximize-btn,#minimize-btn,#close-btn,#move-btn{
    position: absolute;
    top: 0px;
    height: 19px;
    width: 19px;
    cursor: pointer;
}

#minimize-btn{
    right: 30px;
}

#maximize-btn{
    right: 55px;
}

#close-btn{
    right:6px;
}

#move-btn{
    right:430px;
    -webkit-app-region: drag;
    cursor: all-scroll;
}
table{
    padding: 0;
    margin: 0;
    transform: translate(-1px, 0)
}
table{
    left: 50%;
    transform: translate(1px, 0);
    border-spacing: 2px 0;
}

.incrementbutton,.decrementbutton{
    cursor: pointer;
    height: 15px;
    widows: 15px;
}
.decrementbutton{
    padding-right: 4px;
    padding-left: 0;
    content: url("./assets/minus-button.png");
}

.incrementbutton{
    padding-left: 4px;
    padding-right: 0;
    content: url("./assets/add-button.png");
}

span{
    /* width: 50px; */
    display: inline-block;
    color: white;
    font-size: 16pt;
    /* left: 50%; */
    width: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Segoe UI",
}

td {
    text-align: center;
    width: 50px;
    /* border: 1px solid white; */
    margin: 0;
}